
.main {
    height: 550px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;

}


figure .image-gif{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 2.5rem;
}

.image-gif .coder {
    position: relative;
    top: 0;
    width: 350px;
}
.image-gif .open-to-work {
    position: relative;
    bottom: 90px;
    left: 70px;
    width: 200px; 
}

.main-text {
    position: relative;
}

h1 {
    margin-top: 2rem;
    font-size: 6rem;
    font-weight: 700;
    color: var(--color-light);
}

h3 {
    margin: 1.5rem 0 ;
    font-size: 2.8rem;
    font-weight: 400;
    color: var(--foreground);
}

.btn {
    color: var(--foreground);
    margin-right:2rem;
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: .3rem 1.2rem;
    transition: all .3s ease;
}

.btn:hover {
    background-color: #fdd000;
    color: var(--color-dark);
    border-radius: 5px;
}

@media screen and (max-width:990px) {
    h1 {
        font-size: 5rem;
        margin-top: 3rem;
    }
    h3 {
        font-size: 2.3rem;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 750px) {

    h1 {
        font-size: 4.5rem;
    }
    h3 {
        font-size: 2rem;
    }

    .image-gif .coder {
        top: 50px;
        width: 300px;
    }
    .image-gif .open-to-work {
        bottom: 30px;
        width: 170px;
    }

}

@media screen and (max-width: 675px) {
    h1 {
        font-size: 4.5rem;
        font-weight: 700;
        color: var(--color-light);
    }
    
    h3 {
        margin: 2rem 0 ;
        font-size: 2rem;
        font-weight: 400;
        color: var(--foreground);
    }
}

@media screen and (max-width: 630px) {
    h1 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2rem;
    }
    .image-gif .coder {
        width: 280px;
    }
    .image-gif .open-to-work {
        top: 0px;
        right: 50px;
        width: 150px;
    }
}

@media screen and (max-width: 570px) {
    .image-gif {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .image-gif .coder {
        position: relative;
        left: 250px;
    }

    .image-gif .open-to-work{
        position: relative;
        left: 250px;
        top: 360px;
    }

    .btn {
        display: block;
    }
}
@media screen and (max-width: 530px) {
    .image-gif {
        display: none;
    }
    .main h3 {
        margin-top: 3rem;
    }
}