.main {
    height: 510px;
    background-color: var(--color-primary);
}

.main-text {
    position: relative;
}

h1 {
    margin-top: 0;
    font-size: 6rem;
    font-weight: 700;
    color: var(--background);
}

h3 {
    margin: 1.5rem 0 ;
    font-size: 2.8rem;
    font-weight: 400;
    color: var(--foreground);
}

.btn {
    color: var(--foreground);
    margin-right:2rem;
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: .3rem 1.2rem;
    transition: all .3s ease;
}

.btn:hover {
    background-color: #fdd000;
    color: var(--color-dark);
    border-radius: 5px;
}

.icon {
    color: var(--foreground);
    cursor: pointer;
    margin: 7rem 4rem 7rem 2rem;
    padding: .3rem;
    border-radius: 5px;
    transition: all .3s ease;
}

.icon:hover{
    color: var(--background);
    background-color: var(--foreground);
}

.icon-wrapper {
    display: flex;
}

.tooltip {
    background-color: rgb(218, 218, 218);
    color: var(--color-dark);
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
}

@media screen and (max-width: 800px) {
    .icon {
        margin: 5.5rem 4rem 5.5rem 2rem;
    }
}

@media screen and (max-width: 625px) {

    h1 {
        font-size: 5rem;
    }
    h3 {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 520px) {
    .icon {
        margin: 3.8rem 4rem 3.8rem 2rem;
    }
}

@media screen and (max-width: 420px) {
    .main {
        height: 520px;
    }
    h1 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2rem;
    }
    .btn{
        display: block;
        width: 100%;
    }
}