

header {
    margin: 0;
    padding: .6rem 0;
    position: relative;
    background-color: var(--background);
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: end;
}
nav a {
    color: var(--foreground);
}

nav li {
    padding: .4rem 1.3rem;
    border-radius: 5px;
    font-size: 1.4rem;
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
}

nav li:hover {
    background-color: gray;
    color: var(--background);
}

nav li:nth-child(4) {
    border: 1px solid var(--foreground);
}

nav li:nth-child(4):hover {
    color: var(--background);
    background-color: var(--foreground);
    border: 1px solid var(--foreground);
}

nav li:nth-child(5):hover {
    background-color: transparent;
}


.toggle-btn {
    margin-left: 1rem;
    width: 45px;
    height: 23px;
    background-color: var(--foreground);;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.3);
    cursor: pointer;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: var(--background);
    position: absolute;
    top: 1px;
    left: 2px;
    border-radius: 50%;
    transition: all .2s linear;
}

.move {
    transform: translateX(22px);
}

.menu {
    display: none;
}

@media screen and (max-width: 720px) {
    .menu {
        display: block;
        margin-left: 2rem;
    }
    nav {
        display: none;
    }
}